﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BARINAK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav .nav">
                    <li>@Html.ActionLink(@b141210001.Resources.lang.ANASAYFA, "Index", "Home")</li>
                    <li>@Html.ActionLink(@b141210001.Resources.lang.İLANLAR, "Ilanlar", "Home")</li>
                    <li>@Html.ActionLink(@b141210001.Resources.lang.İHTİYAÇLAR, "Ihtiyaclar", "Home")</li>
                    <li>@Html.ActionLink(@b141210001.Resources.lang.İLETİŞİM, "Iletisim", "Home")</li>

                </ul>

                <ul class="nav navbar-nav navbar-right .nav">
                    <li>    @Html.Partial("_LoginPartial")</li>
                    &nbsp;
                    &nbsp;

                    @if (HttpContext.Current.Session["Culture"].ToString() == "tr")
                    {
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>@Html.ActionLink("EN", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
                        </ul>
                    }
                    else
                    {
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">EN <span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>@Html.ActionLink("TR", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)</li>
                        </ul>
                    }
                </ul>

            </div>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -PINAR KAYHAN</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
