﻿@model IEnumerable<ihtiyaclar>

@{
    ViewBag.Title = @b141210001.Resources.lang.İHTİYAÇLAR;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="row">

                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src=@item.resim />
                                <div class="caption">
                                    <p class="renk" style="text-align:center"><strong>@item.baslik</strong></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
