﻿@model IEnumerable<ilanlar>
@{
    ViewBag.Title = @b141210001.Resources.lang.İLANLAR;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="@item.resim">
                            <div class="caption">

                                <p class="renk" style="text-align:center"><b>@item.baslik</b></p>

                                <p style="text-align:center">@item.acıklama</p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>