﻿@model b141210001.Controllers.HomeController.AnaSayfaDTO

<section id="contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">

                <hr class="bottom-line">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 left">
                <div class="contact-form">
                    @using (Html.BeginForm("Iletisim", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@b141210001.Resources.lang.Adınız_Soyadınız: </label>
                            @Html.TextBoxFor(m => m.bilgiformu.adsoyad, new { @class = "form-control", rows = 6 })
                        </div>
                            <div class="form-group">
                              
                                <label class="col-sm-4 control-label">EMail : </label>
                                @Html.TextBoxFor(m => m.bilgiformu.mail, new { @class = "form-control", rows = 6 })
                            </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">@b141210001.Resources.lang.Mesaj: </label>
                                    @Html.TextAreaFor(m => m.bilgiformu.mesaj, new { @class = "form-control", rows = 6, columns = 60 })
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="col-sm-offset-4 btn btn-success">@b141210001.Resources.lang.GÖNDER</button>
                                    <br />
                                    <label>@TempData["Mesaj"]</label>
                                </div>
                    }
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 right">

                <div class="form-group">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.5570210368323!2d28.919655414706575!3d40.9911798793025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabbbf21b49d89%3A0x228fc25f7de99e3f!2zWWVkaWt1bGUgSGF5dmFuIEJhcsSxbmHEn8Sx!5e0!3m2!1str!2str!4v1479806309777" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

</section>


<script>
    function initialize() {

        var myLatlng = new google.maps.LatLng(40.741223, 30.332890);
        var mapOptions = {
            zoom: 15,
            center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            animation: google.maps.Animation.DROP
        });
    }

    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
            'callback=initialize';
        document.body.appendChild(script);
    }

    window.onload = loadScript;
</script>
