﻿@{
    ViewBag.Title = "BARINAK";
}

@model b141210001.Controllers.HomeController.AnaSayfaDTO

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <br />
        </div>
        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <!-- En Son eklenen Slide getiriyoruz -->
                            @foreach (var item in Model.sliders)
                            {
                                <div id="slider" class="item" data-id="@item.ID">
                                    @if (item.resim == null)
                                    {
                                        <img src="~/Content/images/resimyok.png" />
                                    }
                                    else
                                    {
                                        <img style="height:292px;" src="data:image/png;base64,@item.resim">
                                    }

                                </div>
                            }
                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div>
            @foreach (var item in Model.texts)
            {
                <p>@item.acıklama</p>

            }

        </div>
    </div>
</div>
</div>


