﻿@model  b141210001.ilanlar
@{
    ViewBag.Title = @b141210001.Resources.lang.İLANLAR;
}

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("IlanlarEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="text-align:center">@b141210001.Resources.lang.YENİ</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">@b141210001.Resources.lang.FOTOĞRAF</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">@b141210001.Resources.lang.BAŞLIK</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.baslik, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">@b141210001.Resources.lang.AÇIKLAMA</label>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(m => m.acıklama, new { @class = "form-control", rows = 6, columns = 40 })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value=@b141210001.Resources.lang.KAYIT class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


