﻿@model  b141210001.ilanlar

@{
    ViewBag.Title = @b141210001.Resources.lang.DÜZENLE;
}

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("IlanlarDuzenle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.ID)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>@b141210001.Resources.lang.DÜZENLE</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">

                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">@b141210001.Resources.lang.FOTOĞRAF</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.resim, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                               <label class="col-sm-2 control-label">@b141210001.Resources.lang.BAŞLIK</label>
                                <div class="col-sm-10 ">
                                    @Html.TextBoxFor(m => m.baslik, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">@b141210001.Resources.lang.AÇIKLAMA</label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(m => m.acıklama, new { @class = "form-control", rows = 6, columns = 40 })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="btn-toolbar pull-right">
                                    <input type="submit" value=@b141210001.Resources.lang.GÜNCELLE class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>

</div>