﻿
@{
    ViewBag.Title = @b141210001.Resources.lang.İLANLAR;
}

@model List<b141210001.ilanlar>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>ADMIN MENU</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("ADMİN", "Index", "Admin")</li>
                        <li class="active">@Html.ActionLink(@b141210001.Resources.lang.İLANLAR, "Ilanlar", "Admin")</li>
                        <li>@Html.ActionLink(@b141210001.Resources.lang.İHTİYAÇLAR, "Ihtiyaclar", "Admin")</li>
                        <li>@Html.ActionLink(@b141210001.Resources.lang.SLİDER, "Slider", "Admin")</li>
                        <li>@Html.ActionLink(@b141210001.Resources.lang.İLETİŞİM, "Iletisim", "Admin")</li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                   
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">@b141210001.Resources.lang.FOTOĞRAF</th>
                                <th class="col-md-5">@b141210001.Resources.lang.BAŞLIK</th>
                                <th class="col-md-4">@b141210001.Resources.lang.AÇIKLAMA</th>
                                <th class="col-md-2">
                                    <a href="/Admin/IlanlarEkle" class='btn btn-success btn-sm tooltips pull-right' style="text-align:center">@b141210001.Resources.lang.YENİ</a>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="@item.resim" />
                                    </td>

                                    <td>@item.baslik</td>
                                    <td>
                                        @item.acıklama

                                    </td>
                                    <td><a href='/Admin/IlanlarDuzenle?IlanlarID=@item.ID' class='btn btn-xs btn-info tooltips' title='Düzenle'>@b141210001.Resources.lang.DÜZENLE</a></td>

                                    <td>@Html.ActionLink(@b141210001.Resources.lang.SİL, "/IlanlarıSil", new { IlanlarID = item.ID }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

