﻿
@{
    ViewBag.Title = @b141210001.Resources.lang.İLETİŞİM;
}

@model List<b141210001.iletisim>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>ADMIN MENU</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("ADMİN", "Index", "Admin")</li>
                        <li>@Html.ActionLink(@b141210001.Resources.lang.İLANLAR, "Ilanlar", "Admin")</li>
                        <li>@Html.ActionLink(@b141210001.Resources.lang.İHTİYAÇLAR, "Ihtiyaclar", "Admin")</li>
                        <li>@Html.ActionLink(@b141210001.Resources.lang.SLİDER, "Slider", "Admin")</li>
                        <li class="active">@Html.ActionLink(@b141210001.Resources.lang.İLETİŞİM, "Iletisim", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">@b141210001.Resources.lang.Adınız_Soyadınız</th>
                                <th class="col-md-4">EMail</th>
                                <th class="col-md-3">@b141210001.Resources.lang.Mesaj</th>
                                <th class="col-md-2">
                                
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @item.adsoyad
                                    </td>

                                    <td>@item.mail</td>
                                    <td>
                                        @item.mesaj

                                    </td>
                                   

                                    <td>@Html.ActionLink(@b141210001.Resources.lang.SİL, "/IletisimSil", new { IletisimID = item.ID }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

