﻿
@{
    ViewBag.Title = "Admin";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>ADMIN MENU</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">@Html.ActionLink("ADMİN", "Index", "Admin")</li>
                        <li>@Html.ActionLink(@b141210001.Resources.lang.İLANLAR, "Ilanlar", "Admin")</li>
                        <li>@Html.ActionLink(@b141210001.Resources.lang.İHTİYAÇLAR, "Ihtiyaclar", "Admin")</li>
                        <li>@Html.ActionLink(@b141210001.Resources.lang.SLİDER, "Slider", "Admin")</li>
                        <li>@Html.ActionLink(@b141210001.Resources.lang.İLETİŞİM, "Iletisim", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body  text-center">
                        <p>

                            <img src="~/images/Admin.png" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

