﻿
@{
    ViewBag.Title = @b141210001.Resources.lang.YENİ;
}



@model b141210001.slider

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("SlideEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @b141210001.Resources.lang.YENİ
                    <a href="/Admin/Slider" class="btn btn-success btn-sm tooltips pull-right"  style="margin-top:-33px;">@b141210001.Resources.lang.SLİDER</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">@b141210001.Resources.lang.FOTOĞRAF</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="file" class="form-control" />
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="btn-toolbar pull-right">
                                    <input type="submit" value=@b141210001.Resources.lang.KAYIT class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        }





