﻿
@model List<b141210001.slider>
@{
    ViewBag.Title = @b141210001.Resources.lang.SLİDER;
}


<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>ADMIN MENU</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("ADMİN", "Index", "Admin")</li>
                        <li>@Html.ActionLink(@b141210001.Resources.lang.İLANLAR, "Ilanlar", "Admin")</li>
                        <li>@Html.ActionLink(@b141210001.Resources.lang.İHTİYAÇLAR, "Ihtiyaclar", "Admin")</li>
                        <li class="active">@Html.ActionLink(@b141210001.Resources.lang.SLİDER, "Slider", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @b141210001.Resources.lang.SLİDER

                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">@b141210001.Resources.lang.FOTOĞRAF</th>
                                <th class="col-md-5"><a href="/Admin/SlideEkle" class="btn btn-success btn-sm tooltips pull-right" style="text-align:center">@b141210001.Resources.lang.YENİ</a></th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        <img style='width:100%; height:auto; border:solid 1px #cccccc;' src=@item.resim />
                                    </td>


                                    <td><a href='/Admin/SlideDuzenle?SlideID=@item.ID' class='btn btn-xs btn-info tooltips' title='Düzenle'>@b141210001.Resources.lang.DÜZENLE</a></td>
                                    <td>@Html.ActionLink(@b141210001.Resources.lang.SİL, "/SlideSil", new { SlideID = item.ID }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>



